@model TechnoTent.Models.ViewModel.Admin.AdminEditVM

@section AdminHeader
{
    <header class="admin-header">
        <a href="/" class="admin-header__logo">
            <span class="logo-lg"><b>Админ</b> панель</span>
        </a>
        <nav class="navbar-header-top">
            <a href="#" class="settings navbar-header__toggle"><i class="fa fa-cogs" aria-hidden="true"></i></a>
            <ul class="navbar-header__list" style="display: none;">
                <li class="navbar-header__item">
                    <a href="/admin"><i class="fas fa-cog"><span>Настройки</span></i></a>
                </li>
                <li class="navbar-header__item">
                    <a href="/admin/logout"><i class="fas fa-sign-out-alt"><span>Выйти</span></i></a>
                </li>
            </ul>
        </nav>
    </header>
}
<main class="main-admin">
    <aside class="admin-sidebar">
        <section class="sidebar">
            <ul class="sidebar__list" data-widget="tree">
                <li class="sidebar__item" style="height: 37px;"></li>
                <li class="sidebar__item">
                    <a class="sidebar__item-link" href="/admin/mainImages">
                        <i class="fas fa-images"></i>
                        <span>Нстройки галереи</span>
                    </a>
                </li>
                <li class="sidebar__item">
                    <a class="sidebar__item-link" href="/admin/orders">
                        <i class="fas fa-book-open"></i>
                        <span>Заказы</span>
                    </a>
                </li>
                <li class="sidebar__item">
                    <a class="sidebar__item-link" href="/admin/categories">
                        <i class="fas fa-list"></i>
                        <span>Категории</span>
                    </a>
                </li>
                @{
                    Html.RenderAction("GetCategoriesAndSubCategoriesForAdmin", "Partial");
                }
                <li class="sidebar__item">
                    <a class="sidebar__item-link" href="/admin/add/item/">
                        <i class="fas fa-plus"></i>
                        <span>Добавить товар</span>
                    </a>
                </li>
                <li class="sidebar__item">
                    <a class="sidebar__item-link" href="/admin/news">
                        <i class="far fa-newspaper"></i>
                        <span>Статьи</span>
                    </a>
                </li>
                <li class="sidebar__item">
                    <a class="sidebar__item-link" href="/admin/news/add">
                        <i class="fas fa-plus"></i>
                        <span>Добавить статью</span>
                    </a>
                </li>
                <li class="sidebar__item">
                    <a class="sidebar__item-link" href="/admin/stocks">
                        <i class="far fa-money-bill-alt"></i>
                        <span>Акции</span>
                    </a>
                </li>
                <li class="sidebar__item">
                    <a class="sidebar__item-link" href="/admin/stocks/add">
                        <i class="fas fa-plus"></i>
                        <span>Добавить акцию</span>
                    </a>
                </li>
                <li class="sidebar__item">
                    <a class="sidebar__item-link" href="/admin/reviews">
                        <i class="fas fa-comments"></i>
                        <span>Отзывы</span>
                    </a>
                </li>
            </ul>
        </section>
    </aside>
    <div class="admin-content-wrapper">
        <section class="admin-content-header">
            <h1 class="admin-page__title">
                Настройки
            </h1>
        </section>
        <section class="admin-content-main">
            @using (Html.BeginForm("Edit", "Admin", FormMethod.Post, new { @class = "setting-form" }))
            {
                <label class="edit__title">Смена данных для входа</label>
                <div class="settings-edit__wrapper">
                    <label class="edit__title">Логин</label><input type="text" name="Login" class="input-settings-edit" required="" value="@Model.Login">
                </div>
                <div class="settings-edit__wrapper">
                    <label class="edit__title">Пароль</label><input type="password" name="Password" class="input-settings-edit" required="" value="@Model.Password">
                </div>
                <label class="edit__title">Смена API ключей</label>
                <div class="settings-edit__wrapper">
                    <label class="edit__title">Ин Тайм API key</label><input type="text" name="InTimeKey" class="input-settings-edit" value="@Model.InTimeKey">
                </div>
                <div class="settings-edit__wrapper">
                    <label class="edit__title">Новая Почта API key</label><input type="text" name="NovaPoshtaKey" class="input-settings-edit" value="@Model.NovaPoshtaKey">
                </div>
                <!-- <label class="edit__title">Смена контактных данных</label>
                <div class="settings-edit__wrapper">
                    <label class="edit__title">тел1</label><input type="tel" name="" class="input-settings-edit">
                </div>
                <div class="settings-edit__wrapper">
                    <label class="edit__title">тел2</label><input type="tel" name="" class="input-settings-edit">
                </div>
                <div class="admin-settings__button">
                    <button type="submit" class="btn btn-success">Сохраинть</button>
                    <button type="button" class="btn btn-secondary" onclick="location.reload()">Отмена</button>
                </div> -->
                <input class="auth-form__button" type="submit" value="Применить">
            }
        </section>
    </div>
</main>


