@model TechnoTent.Models.UserModels.RestorePassword

<main>
    <section class="recovery-password-message">
        <div class="wrapper">
            <p class="message bg-blue">
                @Resources.Resource.restorePassMsg_msg <span>@Model.Email</span>
            </p>
            <p class="message__linck color-grey">@Resources.Resource.restorePassMsg_link1 <a href="/">@Resources.Resource.restorePassMsg_link2</a></p>
        </div>
    </section>
</main>
