<main>
    <section class="recovery-password">
        <div class="wrapper">
            <div class="recovery-password-container">
                <h2 class="recovery-password__title">
                    @Resources.Resource.restore_title
                </h2>
                @using (Html.BeginForm("RestorePasswordMessage", "User", FormMethod.Post, new { @class = "recovery-password-form" }))
                { 
                    <div class="form-input-wrapper">
                        <input class="form-input form-input__login" type="text" name="email" placeholder="Email">
                        <div class="form-input__underlined"></div>
                        <i class="form-input__icon fas fa-user"></i>
                        <div class="error-message login__error-message" style="display: none;">@Resources.Resource.restorre_email.</div>
                    </div>
                    <input class="recovery-password__button" type="submit" value="Отправить">
                }
            </div>
        </div>
    </section>
</main>
