@model List<TechnoTent.Models.ViewModel.CategoriesVM>

<section class="production">
    <div class="wrapper">
        <div class="production-container">
            <h2 class="section-title color__blue">@Resources.Resource.home_production_title</h2>
            <ul class="production__list" data-aos="zoom-in">
                @foreach (var category in Model)
                {
                    <li class="production__item">
                        <a href="#" class="production__link">
                            @if (category.CategoryImage == null)
                            {
                                <img src="~/Content/images/no_image.svg" alt="@category.CategoryName" class="production__item--img">
                            }
                            else
                            {
                                <img src="~/Content/images/category/@category.CategoryImage" alt="@category.CategoryName" class="production__item--img">
                            }

                            <span class="subtitle__bg"></span>
                            <h3 class="production__item--subtitle">@category.CategoryName</h3>
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>
</section>
