@model TechnoTent.Models.Exchange

<div class="exchange-rates">
    Курс на <span class="exchange-date">@Convert.ToDateTime(Model.Date).ToString("dd/MM/yyyy")</span><i class="fas fa-dollar-sign"></i><span class="exchange-value">@Model.rate.Substring(0,5)</span>грн.
</div>
