@model TechnoTent.Models.ViewModel.CartVM

<div class="header-cart">
    <a href="/cart"><img src="~/Content/images/cart.svg" alt="Корзина" title="Корзина магазина Техно Тент" class="header-cart__img"></a>
    <div class="header-cart__counter">
        @Model.ItemsCount
    </div>
</div>

