@model TechnoTent.Models.ViewModel.ContactsInfoVM

@foreach (var info in Model.HeaderInfo)
{
    <li class="header-phones__item">
        <span class="header-phones__item-title">@info.Name</span>
        <a href="tel:@info.PhoneLink" class="header-phones__number">@info.Phone</a>
    </li>
}
