@model TechnoTent.Models.ViewModel.OrderVM

@{
    Layout = null;
}
<ul class="city__list">
    @foreach (var city in Model.InTimeCiites)
    {
        <li class="city__item" data-city="@city.Key">@city.Value</li>
    }
</ul>

<script>
    $(".city__item").click(function(){
        $(".form-input__city").val($(this).html());
        $(".form-input__city").attr("data-city", $(this).attr("data-city"));
        $(".city__list").remove();
    });
</script>
